body{
    color: black;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
h1{
    color: #efd807c7;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
h2{
    color: #efd807c7;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#affiche_initiative{
    max-height: 60vh;
    margin: 0 auto;
}
#logo_couloir{
    max-height: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
#heure_exacte{
    background-color: #efd807c7;
    padding: 0.5em;
    border-radius: 10px;
    color:black;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    max-width: max-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: x-large;
}
